.detail-title {
    text-align: center;
    font-family: "Akura Popo";
    font-size: 1.5em;
    padding-top: 5px;
}

.detail-price {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    z-index: 2;
    right: 2px;
    text-align: center;
    font-family: "Akura Popo";
    font-size: 1.5em;
    color: #76121c;
    letter-spacing: 1px;
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #fff;
    border-radius: 5px;
}

.detail-text {
    
}

