<div class="overlay"></div>

<!-- Fancy SideBar -->
<nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
    <ul class="nav sidebar-nav">
        <li class="sidebar-brand">
            <a ng-href="#/main">
            </a>
        </li>
        <li><a ng-href="#/list/botanas" class="hide-text">Botanas</a></li>
        <li><a ng-href="#/list/sopas" class="hide-text">Sopas</a></li>
        <li><a ng-href="#/list/taqueria" class="hide-text">Taqueria</a></li>
        <li><a ng-href="#/list/antojitos"      class="hide-text">Antojitos</a></li>
        <li><a ng-href="#/list/enchiladas"    class="hide-text">Enchiladas</a></li>
        <li><a ng-href="#/list/burritos" class="hide-text">Burritos</a></li>
        <li><a ng-href="#/list/quesadillas"   class="hide-text">Quesadillas</a></li>
        <li><a ng-href="#/list/tablas"  class="hide-text">Tablas & Picoteos</a></li>
        <li><a ng-href="#/list/salsas" class="hide-text">Salsas</a></li>
        <li><a ng-href="#/list/postres" class="hide-text">Postres</a></li>
        <li><a ng-href="#/list/cantina" class="hide-text">De la Cantina</a></li>
    </ul>
</nav>
