<div class="container">

    <!-- JUMBOTRON BIENVENIDA! -->

    <div class="jumbotron text-center">
        <p class="lead animated loop" ng-class="main.classAnimation">
            <img src="/assets/images/jumbotron-logo-marco.svg" alt="La Mexicana" class="logo-jumbotron">
            <br>
        </p>
        <p class="jumbotron-txt">La más autentica comida mexicana en Viña del mar |
            <acme-malarkey extra-values="['Tacos', 'Burritos', 'Enchiladas', 'Quesadillas']"></acme-malarkey>
        </p>
    </div>

    <!-- PRODUCTO DESTACADOS -->
    <div class="row">
        <div class="row">
            <div class="col-xs-12">
                <div class="title-destacados">
                    <img src="/assets/images/title-productos-destacados.svg" alt="Destacados" class="img-responsive">
                </div>
            </div>
        </div>
        <!-- Controls -->
        <div class="row">
            <div class="col-xs-12">
                <div class="controls hidden-xs">
                    
                    <a class="left" href="#carousel-example-generic" data-slide="prev"><img src="/assets/images/control-next.svg" alt="Botanas" class="img-responsive"></a>
                    <a class="right" href="#carousel-example-generic" data-slide="next"><img src="/assets/images/control-prev.svg" alt="Botanas" class="img-responsive"></a>
                </div>
            </div>
        </div>
        <div id="carousel-example-generic" class="carousel slide hidden-xs" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <div class="row">
                        <!-- DESTACADO-1 -->
                        <div class="col-xs-6 col-sm-4">
                            <div class="col-item">
                                <div class="product-img-content">
                                    <img src="/assets/images/plato.jpg" class="img-responsive" />
                                    <span class="product-price pull-right">
                        <b>$00.000</b>
                    </span>

                                </div>

                                <div class="row">
                                    <div class="product-title col-xs-12">
                                        <p> Guacamole Tricolor</p>

                                    </div>
                                </div>

                                <div class="separator clear-left">
                                    <p class="btn-add">
                                        <a href="#"><i class="fa fa-shopping-cart"></i>AGREGAR</a></p>
                                    <p class="btn-details">
                                        <a href="#/detail"><i class="fa fa-list"></i>DETALLES </a></p>
                                </div>
                                <div class="clearfix">
                                </div>

                            </div>
                        </div>
                        <!-- DESTACADO-2 -->
                        <div class="col-xs-6 col-sm-4">
                            <div class="col-item">
                                <div class="product-img-content">
                                    <img src="/assets/images/plato.jpg" class="img-responsive" />
                                    <span class="product-price pull-right">
                        <b>$00.000</b>
                    </span>

                                </div>

                                <div class="row">
                                    <div class="product-title col-xs-12">
                                        <p> Guacamole Tricolor</p>

                                    </div>
                                </div>

                                <div class="separator clear-left">
                                    <p class="btn-add">
                                        <a href="#"><i class="fa fa-shopping-cart"></i>AGREGAR</a></p>
                                    <p class="btn-details">
                                        <a href="#/detail"><i class="fa fa-list"></i>DETALLES </a></p>
                                </div>
                                <div class="clearfix">
                                </div>

                            </div>
                        </div>
                        <!-- DESTACADO-3 -->
                        <div class="col-xs-6 col-sm-4">
                            <div class="col-item">
                                <div class="photo">
                                    <img src="http://placehold.it/350x260?text=DESTACADO-3" class="img-responsive" alt="a" />
                                </div>
                                <div class="info">
                                    <div class="row">
                                        <div class="price col-md-6">
                                            <h5>
                                            Plato Destacado
                                        </h5>
                                            <h5 class="price-text-color">
                                            $9.990
                                        </h5>
                                        </div>
                                        <div class="rating hidden-sm col-md-6">
                                            <i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                                        </i><i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                                        </i><i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                    <div class="separator clear-left">
                                        <p class="btn-add">
                                            <i class="fa fa-shopping-cart"></i><a ng-clicl="" class="hidden-sm">Agregar</a>
                                        </p>
                                        <p class="btn-details">
                                            <i class="fa fa-list"></i><a ng-href="#/" class="hidden-sm">+ info</a>
                                        </p>
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- DESTACADO-4 -->
                <div class="item">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="col-item">
                                <div class="photo">
                                    <img src="http://placehold.it/350x260?text=DESTACADO-4" class="img-responsive" alt="a" />
                                </div>
                                <div class="info">
                                    <div class="row">
                                        <div class="price col-md-6">
                                            <h5>
                                            Plato Destacado
                                        </h5>
                                            <h5 class="price-text-color">
                                            $9.990
                                        </h5>
                                        </div>
                                        <div class="rating hidden-sm col-md-6">
                                            <i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                                        </i><i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                                        </i><i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                    <div class="separator clear-left">
                                        <p class="btn-add">
                                            <i class="fa fa-shopping-cart"></i><a ng-click="" class="hidden-sm">Agregar</a>
                                        </p>
                                        <p class="btn-details">
                                            <i class="fa fa-list"></i><a ng-href="#/" class="hidden-sm">+ info</a>
                                        </p>
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- DESTACADO-5 -->
                        <div class="col-sm-4">
                            <div class="col-item">
                                <div class="photo">
                                    <img src="http://placehold.it/350x260?text=DESTACADO-5" class="img-responsive" alt="a" />
                                </div>
                                <div class="info">
                                    <div class="row">
                                        <div class="price col-md-6">
                                            <h5>
                                            GPlato Destacado
                                        </h5>
                                            <h5 class="price-text-color">
                                            $9.990
                                        </h5>
                                        </div>
                                        <div class="rating hidden-sm col-md-6">
                                        </div>
                                    </div>
                                    <div class="separator clear-left">
                                        <p class="btn-add">
                                            <i class="fa fa-shopping-cart"></i><a ng-click="" class="hidden-sm">Agregar</a>
                                        </p>
                                        <p class="btn-details">
                                            <i class="fa fa-list"></i><a ng-href="#/" class="hidden-sm">+ info</a>
                                        </p>
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- DESTACADO-6 -->
                        <div class="col-sm-4">
                            <div class="col-item">
                                <div class="photo">
                                    <img src="http://placehold.it/350x260?text=DESTACADO-6" class="img-responsive" alt="a" />
                                </div>
                                <div class="info">
                                    <div class="row">
                                        <div class="price col-md-6">
                                            <h5>
                                            Plato Destacado
                                        </h5>
                                            <h5 class="price-text-color">
                                            $9.990
                                        </h5>
                                        </div>
                                        <div class="rating hidden-sm col-md-6">
                                            <i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                                        </i><i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                                        </i><i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                    <div class="separator clear-left">
                                        <p class="btn-add">
                                            <i class="fa fa-shopping-cart"></i><a ng-click="" class="hidden-sm">Agregar</a>
                                        </p>
                                        <p class="btn-details">
                                            <i class="fa fa-list"></i><a ng-href="#/" class="hidden-sm">+ info</a>
                                        </p>
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END DESTACADOS -->
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>