/* JUMBOTRON */

.logo-jumbotron {
    width: 100%;
    height: 300px;
}

.jumbotron {
    background-color: #76121C;
    background-image: url(/assets/images/fondo-jumbotron.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.jumbotron p {
    color: #fff;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 200;
    padding-top: 8px;
}


/* CALUGAS */

.caluga {
    position: relative;
    height: 350px;
    width: 100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
-moz-border-radius: 10px;
}

.caluga-plato {
    background-image: url(/assets/images/caluga-plato-color-a.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.caluga-taco {
    background-image: url(/assets/images/caluga-taco-color-b.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.caluga-menu-dia {
    background-image: url(/assets/images/caluga-menu-dia-color-d.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}