.title-cart img {
    display: block;
    margin-bottom: 35px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 25px;
    height: 100px;
    width: auto;
}

.btns-cart {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.btns-cart a{
   display: inline-block;
    position: relative;
    float: right;
    margin-left: 10px;
}

#inputMesero {
    width: 160px
}