<!-- Title -->

<div class="row">
    <div class="col-xs-12">
        <div class="title-cart">
            <img src="/assets/images/title-pedido.svg" alt="Pedido" class="img-responsive">
        </div>
    </div>
</div>

<!-- Cart -->
<ngcart-cart></ngcart-cart>

<!--  Buttons -->
   
    <div class="row">
        <div class="col-xs-12">
           <div class="btns-cart">
           <!-- Send -->
            <a ng-click="" class="btn btn-send" href="#/list"></a>
            <!-- Return -->
            <a ng-click="back()" class="btn btn-back" href="#" onclick="history.go(-1)"></a>
        </div>
    </div>
</div>