.title-list {}

.title-list img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 25px;
    height: 100px;
    width: auto;
}


/* PRODUCTS */

.container {
    display: block;
    margin-top: 50px;
}

.col-item {
    display: block;
    margin-right: auto;
    margin-left: auto;
    align-content: center;
    border: 1px solid #fff;
    border-radius: 10px;
    width: 250px;
    height: auto;
    margin-bottom: 25px;
    background-color: #fff;
}

/*
Hover the image
*/

.product-img-content {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    display: block;
    height: 200px;
    width: 250px;
}

.product-img-content img {
    position: absolute;
    margin-top: 5px;
    padding-left: 5px;
    padding-right: 7px;
    border-radius: 10px 10px 0 0;
}

.product-title {
    text-align: center;
    font-family: "Akura Popo";
    font-size: 2em;
    padding-top: 15px;
}

.product-price {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    right: 2px;
    text-align: center;
    font-size: 1.5em;
    color: #76121c;
    letter-spacing: 1px;
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #fff;
    border-radius: 5px;
}

.buttons-menu {
    display: inline-flex;
        margin-left: 5px;
}

.addSelect {
     position: relative;
    text-align: center;
}
