<div ng-controller="ListProductsController as list">
    <div class="row">
        <div class="col-xs-12">
            <div class="title-list">
                <img src="/assets/images/title-{{list.categoriacorto}}.svg" alt="Botanas" class="img-responsive">
            </div>
        </div>
    </div>

    <!-- Platos -->
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xs-12 col-sm-6" ng-repeat="plato in list.platos">
                <!-- Bloque Repetitivo-->
                <div class="col-item">
                    <div class="product-img-content">
                        <a href="#/detail/{{ plato.PlatoID }}"><img src="/assets/images/plato.jpg" class="img-responsive" />
                            <span class="product-price pull-right">
                            <b>${{plato.PrecioPlato}}</b>
                        </span>
                        </a>
                    </div>

                    <div class="row">
                        <div class="product-title col-xs-12">
                            <p>{{plato.NombrePlato}}</p>
                        </div>
                    </div>
                    
                    <!-- Acompañamiento Select
                    <div class="row">
                        <div class="col-xs-12">
                        <div class="addSelect">
<label for="singleSelect"> Acompañamiento: </label>
                                            <br>
                                            <select name="singleSelect" ng-model="data.singleSelect" class="styled-select-xl">
                                                <option disabled selected>Elija una opción</option>
                                                <option value="">4 Tacos de Maíz con Carne</option>
                                                <option value="">6 Triángulos de Quesadilla de Pollo</option>
                                                <option value="">2 Mini Burritos con Chorizo</option>
                                                <option value="">Pollo Guisado en Salsa con Tortillas</option>
                                                <option value="">Pastel Azteca: 3 Capas Maíz, Pollo y Queso</option>
                                                <option>Sopa o Crema del Día</option>
                                            </select>
                    </div>
                </div>
            </div>
                     -->
                    
                    <!-- Buttons -->
                    
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="buttons-menu">
                                <ngcart-addtocart id="{{ plato.PlatoID }}" name="{{ plato.NombrePlato }}" price="{{ plato.PrecioPlato }}" quantity="1" quantity-max="10" data="plato"></ngcart-addtocart>


                                <a class="hide-text btn btn-detalle" href="#/detail/{{ plato.PlatoID }}"><i class="fa fa-list"></i>Detalle</a>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix">
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>